.detail {
    @extend %page;
    @extend %center;

    justify-content: center;
    // background-color: $color-quicksand;
    // color: $color-white;

    @include media('<phone') {
        height: auto;
    }
}

.detail_wrapper {
    @extend %center;

    @include media('<phone') {
        display: block;
        margin: auto;
        padding: 15rem 0 31.5rem;
        width: 66.1rem;
    }
}

.detail_media {
    height: 78.2rem;
    width: 55.4rem;
    position: relative;

    @include media('<phone') {
        height: 93.4rem;
        margin: 0 auto 7.8rem;
        width: 100%;
    }
}

.detail_media_image {
    @extend %cover;

    object-fit: cover;
}

.detail_information {
    padding-left: 8.2rem;

    @include media('<phone') {
        padding-left: 0;
    }
}

.detail_information_collection {
    @extend %description-12;

    margin-bottom: 4rem;
    text-transform: uppercase;
    overflow: hidden;
}

.detail_information_title {
    @extend %title-120;

    max-width: 60rem;
}

.detail_information_content {
    padding-left: 18rem;

    @include media('<phone') {
        padding-left: 0;
    }
}

.detail_information_highlights {
    margin-top: 6rem;
}

.detail_information_highlight {
    @extend %center;

    &:not(:first-child) {
        margin-top: 4rem;
    }
}

.detail_information_higlight_icon {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    margin-right: 3.75rem;

    @include media('<phone') {
        height: 9.2rem;
        width: 9.2rem;
        margin-right: 5.8rem;
    }
}

.detail_information_highlight_text {
    @extend %description-18;

    span {
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
    }
}

.detail_information_infos {
    margin-top: 4rem;
    // padding-left: 18rem;
}

.detail_information_item {
    @extend %center;

    &:not(:first-child) {
        margin-top: 4rem;
    }
}

.detail_information_infos_label {
    @extend %description-12;

    width: 15rem;
    padding-right: 2.5rem;
    margin-bottom: auto;
    line-height: 1;

    @include media('<phone') {
        padding-right: 5rem;
    }
}

.detail_information_item_desc {
    @extend %description-18;

    max-width: 44rem;
    letter-spacing: 0.03rem;

    span {
        display: inline-block;
        line-height: 1;
        overflow: hidden;
        vertical-align: top;
    }
}

.detail_information_link {
    @extend %title-30;

    display: block;
    margin-top: 3rem;
    padding-left: 18rem;
}

.detail_button {
    @extend %description-14;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.8rem;
    height: 6rem;
    position: absolute;
    left: 50%;
    bottom: 5rem;
    transform: translateX(-50%);
    z-index: 2;
    text-transform: uppercase;

    @include media('<phone') {
        bottom: 12rem;
        height: 13rem;
        width: 26.8rem;
    }
}

.detail_button_icon {
    @extend %cover;
}