.about_content {
    position: relative;
    margin: 20rem 0;
    display: flex;
    justify-content: center;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-top: 0;
    }

    &:nth-child(5) {
        justify-content: flex-end;
    }

    &:nth-child(8) {
        justify-content: flex-start;
    }

    &:nth-child(9) {
        margin-top: 40rem;
    }

    @include media('<phone') {
        &:nth-child(5) {
            justify-content: flex-end;
        }

        &:nth-child(8) {
            justify-content: flex-start;
        }
    }
}

.about_content_wrapper {
    display: flex;

    .about_content--right & {
        flex-direction: row-reverse;
    }

    @include media('<phone') {
        .about_content:nth-child(3) & {
            flex-direction: column-reverse;
        }

        .about_content:nth-child(5) & {
            flex-direction: column;
        }

        .about_content:nth-child(8) & {
            flex-direction: column-reverse;
        }

        .about_content:nth-child(9) & {
            flex-direction: column-reverse;
        }
    }
}

.about_content_text_wrapper {
    display: flex;

    @include media('<=phone') {
        margin: auto;
        width: 60.9rem;

        .about_content:nth-child(3) & {
            margin-top: 10rem;
        }

        .about_content:nth-child(5) & {
            margin-bottom: 10rem;
        }

        .about_content:nth-child(8) & {
            margin-top: 10rem;
        }

        .about_content:nth-child(9) & {
            margin-top: 10rem;
        }
    }
}

.about_content_label {
    @extend %description-12;

    width: 18rem;
    text-transform: uppercase;
    letter-spacing: 0.032rem;
    line-height: 2;

    @include media('<=phone') {
        font-size: 2.4rem;
        line-height: 1.5;
        padding-right: 2.5rem;
        width: 15rem;
    }
}

.about_content_desc {
    width: 36.2rem;

    p:not(:first-child) {
        margin-top: 2.5rem;
    }

    @include media('<=phone') {
        width: calc(100% - 15rem);
    }
}

.about_content_media {
    position: relative;

    .about_content:nth-child(3) & {
        // position: relative;
        margin-left: 18rem;
        height: 80.8rem;
        width: 53.8rem;
    }

    .about_content:nth-child(5) & {
        height: 60rem;
        width: 96rem;
        margin-left: 18rem;
    }

    .about_content:nth-child(8) & {
        height: 52rem;
        width: 84.2rem;
        margin-right: 12rem;
    }

    .about_content:nth-child(9) & {
        height: 85.8rem;
        width: 60.8rem;
        margin-left: 22rem;
    }

    @include media('<=phone') {
        .about_content:nth-child(3) & {
          height: 91.4rem;
          margin-left: 0;
          width: 60.9rem;
        }
    
        .about_content:nth-child(5) & {
          height: 50rem;
          margin-left: 0;
          width: 100vw;
        }
    
        .about_content:nth-child(8) & {
          height: 52rem;
          margin-right: 0;
          width: 100vw;
        }
    
        .about_content:nth-child(9) & {
          height: 85.8rem;
          margin-left: 0;
          width: 60.8rem;
        }
      }
}

.about_content_media_image {
    @extend %cover;

    object-fit: cover;
}